[2018-12-29 07:38] nurdtechie98 opened #2 "add error handling"
At several places only ideal cases have been considered. Need error handling at all the required places

[2018-12-29 07:42] nurdtechie98 opened #3 "Complete Usage section of readme"
Only a limited number of commands have been added at the moment to usage section. Add all the commands and their corresponding explanations.

[2018-12-30 09:13] cclauss opened #4 "Undefined name 'link' in drive_cli/dcli.py"
__link__ is an _undefined name_ in __get_fid()__ which has the potential to raise NameError at runtime.

[flake8](http://flake8.pycqa.org) testing of https://github.com/nurdtechie98/drive-cli on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that

[2018-12-30 10:12] nurdtechie98 commented on #4
fixed:+1:  Try now and close the issue once checked.

[2018-12-30 10:16] cclauss commented on #4
[flake8](http://flake8.pycqa.org) testing of https://github.com/nurdtechie98/drive-cli on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-12-30 10:18] nurdtechie98 opened #5 "extra unnecessary pulls and pushes"
These methods write_needed() and push_needed() are behaving inappropriately and needs to be modified to prevent extra pulls and pushes.

[2018-12-30 10:34] #4 closed

[2018-12-30 13:30] #5 closed

[2019-01-03 04:34] nurdtechie98 opened #9 "add .driveignore functionality"
add functionality that allows users to specify to prevent certain files from getting uploaded

[2019-01-06 11:23] nurdtechie98 opened #10 "modularize dcli file into smaller ones"
split dcli.py into smaller files, break the files into smaller files by creating new smaller files for each similar command.

[2019-01-16 07:16] jean opened #12 "Some comments on commands and options"
`pid` in command-line context more familiarly means "process id". I'd prefer `parent-id`.

The help text sounds like you can add a file inside a **file**, that doesn't seem to make sense, should be _folder_?

Rather `query` or `search`. And then rename the `cat` command to `view-file` :wink:

Just `add`, remote is implied. Also, "remote" here invites confusion with git remote.

Also shows files up

[2019-01-30 18:18] inishchith opened #13 "Fix: Remote login"
Login via `oauth2client` as of now can't be done remotely [ i.e without browser access, mainly on compute cloud ]
- A fix can be done by simply setting `noauth_local_webserver` flag [here](https://github.com/inishchith/drive-cli/blob/52d6de1d2606dbaf0ec043e20d6c6ab0fd02f094/drive_cli/dcli.py#L33)

[2019-01-31 06:44] #13 closed

[2019-02-06 16:31] nurdtechie98 opened #15 "add share functionality"
one should be able to share and give access to files directly from the cli

[2019-02-13 19:40] nurdtechie98 opened #16 "add revisions functionality"
add the view revision history option, which provides dates and time of documents previous revisions

[2019-02-15 04:11] nurdtechie98 opened #17 "use library for mimetypes"
remove the manually written dict of mimetypes in utils.py and use some library to extract the mimetype from file extension.

[2019-02-15 06:50] raghav-dalmia opened #18 "Issue with cat command"
I create a dummy folder on my drive and test `drive cat ` command on that folder. Terminal show error

`googleapiclient.errors.HttpError: <HttpError 403 when requesting https://www.googleapis.com/drive/v3/files/1f5Lhttb1ZdA8fuOxlZo48A-_hZDnu8_w/export?mimeType=application%2Fmsword&alt=media returned "Export only supports Google Docs."`

![screenshot from 2019-02-15 12-12-06](https://user-images.gi

[2019-02-15 12:30] nurdtechie98 commented on #18
@raghav-dalmia
The cat functionality is meant for checking the contents in a file not a folder.
It is similar to cat command of linux so try cat for files and you'll get the contents of it.

[2019-02-16 07:15] #18 closed

[2019-02-16 07:50] nurdtechie98 opened #19 "fix get_fid() to work for all the cases"
[get_fid()](https://github.com/nurdtechie98/drive-cli/blob/26e6aa856a552ba4eec82501d5d08ba9edd0dfa3/drive_cli/dcli.py#L178) function it works for only limited type of links but gets wrong output on certain cases.
example:
for input
`
https://drive.google.com/file/d/1NKaxkeqEas9GuKc82Thg6jwDxjyOB7Hn/view?usp=sharing
`
it returns `view` where it is expected to return `1NKaxkeqEas9GuKc82Thg6jwDxjyOB7

[2019-02-18 10:49] adtyanair commented on #17
I would like to work on this issue. I have found a library called [mimetypes](https://docs.python.org/3/library/mimetypes.html) in python which provides this functionality. I'll try implementing this.

[2019-02-18 12:12] inishchith commented on #17
@adtyanair sure :+1: go ahead

[2019-02-18 18:01] adtyanair opened #21 "add unit tests"
Unit tests can help save a lot of time when during testing. Without it, testing seems to be difficult and time consuming as we have to run the whole program through different scenarios manually every time.

[2019-02-18 20:46] nurdtechie98 commented on #17
@adtyanair just remember, you need to wait till 28th of Feb as per the timeline for the official coding period to begin.

[2019-02-19 17:13] ahegde3 commented on #3
get_file            Gets the specified file from the drive
delete_file       Deletes the specified file.
create_dir        creates a new file directory in the drive

[2019-02-19 17:45] ahegde3 opened #22 "Requirement.parse('pyasn1<0.5.0,>=0.4.1')"
### I tried using the application.When I try drive login or any other command it gives me an error.The traceback is as follow.
Traceback (most recent call last):
  File "/home/ahegde3/anaconda3/lib/python3.5/site-packages/pkg_resources/__init__.py", line 666, in _build_master
    ws.require(__requires__)
  File "/home/ahegde3/anaconda3/lib/python3.5/site-packages/pkg_resources/__init__.py", line 9

[2019-02-19 18:10] nurdtechie98 commented on #22
@ahegde3 According to the error:
The required pyasn1 version should be greater or equal to 0.4.1 and less than 0.5.0 and you currently have installed v0.1.9.
try updating manually to a specific version run
`pip install pyasn1 --upgrade`
this will update your current pyasn1 package to the latest version and should solve the problem.

[2019-02-20 16:20] ahegde3 commented on #22
Yes,it worked.Thanks

[2019-02-20 17:03] #22 closed

[2019-02-22 12:41] Anukriti2512 commented on #19
I would like to work on this issue

[2019-02-22 17:00] nurdtechie98 commented on #19
sure you can work on it. Go ahead:+1:

[2019-02-23 11:18] swathi-0901 commented on #3
I would like to work on this issue , can I..?

[2019-02-23 15:56] nurdtechie98 commented on #3
Sure, Go ahead👍🏻

[2019-02-24 09:35] inishchith commented on #21
@adtyanair True. We (mentors) along with @nurdtechie98 will think of a proper structure and open some issues in coming days.

Thanks for addressing 😄

[2019-02-25 15:33] aakankshadhurandhar commented on #3
i would like to work on this issue

[2019-02-25 17:17] nurdtechie98 commented on #21
@adtyanair as discussed in slack we'll split this issue into smaller ones and bring up a proper structure to make it easy for you guys. So closing this issue as for now

[2019-02-25 17:23] nurdtechie98 commented on #3
@swathi-0901 @aakankshadhurandhar as discussed in slack channel, we'll be closing this issue for now as we have decided to remove the usage section from readme rather we'll add a wiki section where you guys can then contribute to.

[2019-02-25 17:53] shikhag2018 commented on #2
I would like to work on this issue

[2019-02-25 18:10] inishchith commented on #2
@shikhag2018 Sure. Go Ahead

[2019-02-25 18:12] shikhag2018 commented on #2
How to get started with it.

[2019-02-25 18:28] inishchith commented on #2
@shikhag2018
- You can use `try except` for error and exception handling. [Read more](https://realpython.com/python-exceptions/)
- Use appropriate error / exception messages

[Example](https://github.com/nurdtechie98/drive-cli/blob/a82cdc2c14d7208c65ca73f613b6c8ac040758c5/drive_cli/dcli.py#L224)

[2019-02-25 19:28] nurdtechie98 commented on #2
@shikhag2018 start with adding error handling for few functions where you feel there is a need of. We'll also let you know if we find other such places where you could do that in the mean time.

[2019-02-26 16:17] shikhag2018 commented on #2
how to run the code of drive-cli and know what exceptions are raised or i  have to manually read the code and think where execeptions can be raised.

[2019-02-26 16:37] shivam1708 commented on #2
Hi shikhag2018, I think manually reading the code can be tedious. It is better to try out things with an approach of finding a bug by giving buggy inputs and then handle the case. If it is pretty understandable by reading to include exception handling then you should. You can directly use drive-cli (npm install drive-cli) and test if you find bugs or follow the steps given (development mode) in th

[2019-02-26 16:52] shikhag2018 commented on #2
yes i have done the setup in both development and usage mode  and i m using pip for python.

[2019-02-26 17:26] shivam1708 commented on #2
Sorry i wrote npm install drive-cli in flow. There is only python package. In "drive-cli/drive_cli" there is a file dcli.py which holds all the functions and utilities. In that file initially there are utility functions and from line 489 there are actual functions written for drive cli command line options. So try using different options on command line and understand the flow of execution. Once y

[2019-02-26 17:34] sauravchirania opened #23 "Change "add_remote" to "add-remote""
In the command view-files, the separator between the words view and files is a hyphen. It'll be nice if add_remote follows the same convention for consistency.

So, we need to change the command add_remote to add-remote and update the README accordingly.

[2019-02-26 18:37] #3 closed

[2019-02-26 18:43] nurdtechie98 opened #24 "complete 'How to use section ?' of wiki"
As decided we remove the usage section from readme to keep it clean. Henceforth all documentation will be maintained in wiki.

A basic wiki has been added  but the contents are yet to filled in many section.
* [X] help
* [ ] login
* [ ] view-files
* [ ] clone
* [ ] add_remote
* [ ] cat
* [ ] rm
* [ ] ls
* [ ] status
* [ ] pull
* [ ] push

Note: Each section will be up for grab separately and so wi

[2019-02-27 11:19] FredAmartey commented on #23
Hi, id like to work on this. I want to get experience with contributing. Can you show me which file I should be looking at?

[2019-02-27 13:59] sauravchirania commented on #23
Sure, go ahead!

[2019-02-27 17:14] raghav-dalmia commented on #10
I would like to solve this issue. Can I? @nurdtechie98

[2019-02-27 17:24] nurdtechie98 commented on #10
Sure go ahead. Be careful in the file structure cos the changes are going to be critical

[2019-03-01 09:13] excalibur-kvrv commented on #24
i'd like to work on the view-files section for gssoc. How should i proceed?

[2019-03-01 12:15] sauravchirania commented on #23
Fixed in #26.

[2019-03-01 12:15] #23 closed

[2019-03-02 04:44] cherryWood55 commented on #24
I want to work on the add remote section. How to proceed with it?

[2019-03-02 04:45] adtyanair opened #27 "add requirements.txt or Pipfile"
currently, the only option to install and manage the dependencies is by using the `setup.py`. It'll be easier to manage the dependencies by having a `requirements.txt` or `Pipfile`

[2019-03-02 10:45] Avni-Sharma opened #28 "Typo in Readme"
[status: list changes made to local files since last pull or pull.
](https://github.com/nurdtechie98/drive-cli#features)
I guess it should be last push or pull

[2019-03-02 12:19] Avni-Sharma commented on #2
PTAL #29

[2019-03-02 12:21] Avni-Sharma commented on #2
I have added error handling for the first two functions namely login and drive data.
I also feel that a list of functions can be maintained with this issue here to which we can add error handling, as there are many people to contribute to and there are many places to add the error handling.

[2019-03-02 15:10] adtyanair commented on #17
I tried implementing the mimetypes library, but it's not returning all file types as in the utils.py file.
for example: for `.zip` file,  the library returns `application/zip` but it is `application/x-zip-compressed` in the utils file

[2019-03-03 07:27] raghav-dalmia commented on #10
ok, I will try to make a simple file structure a possible.

[2019-03-03 12:42] inishchith commented on #27
@adtyanair Any progress with this?

[2019-03-03 12:44] inishchith commented on #21
@adtyanair This is being worked on.
Closing in reference to #30 .

[2019-03-03 12:44] #21 closed

[2019-03-03 12:46] inishchith commented on #10
@raghav-dalmia Sure. Please do update this thread or open a PR referencing this issue. We can have further discussion over there ;)

[2019-03-03 14:17] inishchith opened #31 "Refresh auth tokens once found expired or invalid"
- `Current scenario`:
   * Once logged in, if the user tries any feature after the expiry period i.e `1 hour`, the user has to authenticate him/her self.

- `Expected behaviour`:
   * In order to solve this, we can use `refresh_token` with the help of which once the key found available but invalid or expired, the dependent methods should call `refresh()` method and refresh the token.

- Current pr

[2019-03-03 14:22] inishchith commented on #24
@excalibur-kvrv @cherryWood55

Once you're done with your local setup:
- You can try running the command
- Add an good explanation for it. Refer [help section](https://github.com/nurdtechie98/drive-cli/wiki/How-to-use-%3F#help)
- Update on this thread one you're done ;)

[2019-03-03 14:38] adtyanair commented on #27
I was able to add all the dependencies in the `setup.py` file using `pipenv` and `Pipfile`. I verified this by running `pip install -e .` which shows requirement already satisfied. But to run the program, it is required to install it to the system and this installs the dependencies anyways.

Also, I looked through some other similar python packages and none of them seems to have a Pipfile. so I'm

[2019-03-05 10:06] raghav-dalmia commented on #10
@inishchith sorry for late reply. I have made a package name subcommand which contains one module for each command. please check it [here](https://github.com/nurdtechie98/drive-cli/files/2930328/drive_cli.zip). I have tested it on a local computer and get a positive response. Also, I have opened a PR for the same, please check it out.

[2019-03-05 14:03] raghav-dalmia commented on #15
@nurdtechie98 I want to work on this issue. can I?

[2019-03-05 15:02] nurdtechie98 commented on #28
yes, @Avni-Sharma it should be fixed

[2019-03-05 15:08] nurdtechie98 commented on #2
Agreed @Avni-Sharma , I have create checklist and we can start with separate contributions for each individual functionality.

[2019-03-05 16:06] Avni-Sharma commented on #28
Hi. Is there any way where I can pick up the specific commit for Readme. My previous commits are also coming with this commit. Please  refer #33

[2019-03-05 16:34] nurdtechie98 commented on #28
@Avni-Sharma no that can't be done. What could be done instead, is you can create a separate branch and then make only the required changes to it and raise a pull request from that.

[2019-03-05 18:44] inishchith commented on #27
@adtyanair Yes, I've had a thought over this. I feel it's be better if we control the versions of  dependencies right from `setup.py`.

I'd really appreciate if you can update the `setup.py` file instead with current versions of the dependencies. I missed this out. Apologies for the late revert.

Let me know what you think

[2019-03-06 05:34] aakankshadhurandhar commented on #24
i want to work on clone section  for ggsoc.How to get started?

[2019-03-06 05:35] aakankshadhurandhar commented on #24
i want to work in clone section for gssoc .How to get started?

[2019-03-06 05:36] aakankshadhurandhar commented on #28
hello i want to get started on it how to get started.

[2019-03-06 05:57] nurdtechie98 commented on #28
Hi @aakankshadhurandhar welcome to Drive-Cli. For the start you should try installing drive CLI for development using the instructions in [readme](https://github.com/nurdtechie98/drive-cli#installation).
Once you are done with that try out the various commands and make an effort to understand how these things work.
After that you can look for bugs in the code or any issue over here and make a clai

[2019-03-06 06:14] nurdtechie98 commented on #24
@aakankshadhurandhar the same applies to you😊

[2019-03-06 15:06] inishchith commented on #24
@udit-001 Sure. go ahead ;)

[2019-03-07 17:09] raghav-dalmia commented on #15
Please let me know. Can I work on this issue?

[2019-03-07 17:38] nurdtechie98 commented on #15
sure @raghav-dalmia go ahead with it

[2019-03-07 17:42] raghav-dalmia commented on #15
Please give clarification about this issue, I have to generate a share link or take email id as argument and share file to that person?

[2019-03-07 17:52] nurdtechie98 commented on #15
@raghav-dalmia provide both the options by specifying particular flag for each.

[2019-03-08 17:02] #10 closed

[2019-03-10 10:37] Manvityagi commented on #28
Why is this issue up for grab? This typo: "status: list changes made to local files since last pull or pull." hasn't been corrected yet.

[2019-03-10 11:41] #17 closed

[2019-03-10 14:31] raghav-dalmia commented on #16
I want to work on this issue.

[2019-03-10 14:40] nurdtechie98 commented on #16
Sure Go ahead @raghav-dalmia 👍

[2019-03-10 15:10] SukhnandanMalhotra commented on #9
Can I work on this issue?

[2019-03-10 15:19] inishchith commented on #9
@SukhnandanMalhotra Sure, go ahead.

[2019-03-11 05:49] Avni-Sharma commented on #28
I have raised a PR . Need to correct it

[2019-03-11 05:57] Manvityagi commented on #28
Yeahh...u have raised a pr already,  now nobody else shall claim it kno ?

On Monday, March 11, 2019, Avni Sharma <notifications@github.com> wrote:

[2019-03-11 14:05] nurdtechie98 commented on #24
@udit-001 @cherryWood55 @excalibur-kvrv any updates ?

[2019-03-11 18:43] #15 closed

[2019-03-11 18:46] raghav-dalmia commented on #16
@nurdtechie98 please specify exactly what feature should this functionality have?

[2019-03-11 19:05] nurdtechie98 commented on #16
yes something like that. like we have `git status`  would be great.

[2019-03-11 20:04] raghav-dalmia commented on #16
I didn't get your point, exactly what you want which is similar to `git status`. I think we have a `drive status ` command for that purpose.

[2019-03-12 02:10] inishchith commented on #16
@raghav-dalmia I guess @nurdtechie98 meant `git log`

[2019-03-12 17:51] SukhnandanMalhotra commented on #9
@inishchith Could you please clarify on how should I approach this issue?

[2019-03-12 18:35] inishchith commented on #9
@SukhnandanMalhotra Sure.
For starters add some file names under `.driveignore` file and on every `push / upload` file action, we can call a `get_ignored_unignored` method which takes in list of `files to upload` ( via methods mentioned below ) and returns two lists:
1. files to that shouldn't be ignored
2. files that need to be ignored.

- Methods that might be affected:
  - `create_remote()`:

[2019-03-12 18:38] raghav-dalmia commented on #16
Date/Time
    Cwd
    Command
    Mandatory Argument [if any]
    Flags [list] [if any]
        argument/input taken by each flag
    other inputs [like email id as in share option]```

I am going to store that much data and will in the same manner.
If it requires any changes, please let me know.

[2019-03-13 01:33] nurdtechie98 commented on #16
What exactly do you mean by Command here @raghav-dalmia ?

[2019-03-13 03:16] #28 closed

[2019-03-13 03:41] nurdtechie98 opened #40 "add drive info functionality"
Using the command by either specifying the sharing link or the file id one should be able to view relevant information of the file/folder like size of it, members / owners, mimetype , creation date, last modified date, parent folder etc.
Note: The data displayed regarding the same should be organised and layout should be clean enough to read.

[2019-03-13 03:55] raghav-dalmia commented on #16
Command like `drive (login, logout, ls, cat, share)`...

[2019-03-13 11:44] raghav-dalmia commented on #16
Something like this

On Wed, Mar 13, 2019, 7:03 AM Chirag Shetty <notifications@github.com wrote:

[2019-03-13 13:26] nurdtechie98 commented on #16
@raghav-dalmia I guess there is some sort of mis-understanding. what I mean by revisions is not when which commands was used rather history of a file or folder. When a particular was modified using [revision](https://developers.google.com/drive/api/v3/manage-revisions) feature of drive.

[2019-03-13 19:54] raghav-dalmia commented on #16
ok, got your point. So can I create a new issue for my PR?

[2019-03-14 03:54] nurdtechie98 commented on #16
@inishchith @sauravchirania @shivam1708, what do you think about the feature added by @raghav-dalmia ?

[2019-03-14 03:55] nurdtechie98 commented on #16
I have mixed feelings on its use-case 🙈.

[2019-03-14 04:00] shivam1708 commented on #16
The details about which command was used when doesn't seem important to me, but it can be used just as an add-on if you want to

[2019-03-14 06:52] raghav-dalmia commented on #16
I will do that too, please give me some time.

[2019-03-14 11:01] nurdtechie98 commented on #16
@raghav-dalmia take it easy, we understand there has been a misunderstanding. We'll discuss the Pr raised as well. Do you want to work on the original issue ?

[2019-03-14 13:58] raghav-dalmia commented on #16
Yes

[2019-03-15 02:23] #19 closed

[2019-03-15 13:44] nurdtechie98 commented on #16
Sure @raghav-dalmia, go ahead keep its name as `drive log` then for now lets keep history keyword for what you have raised a PR.

[2019-03-15 13:45] raghav-dalmia commented on #16
ok, @nurdtechie98

[2019-03-15 16:56] inishchith commented on #9
@SukhnandanMalhotra Any progress with this?

[2019-03-15 17:07] inishchith commented on #12
@jean

- Makes sense but IMO it's a convention to check the help text ( for first timers atleast ) where it clearly states the usage, I that case i'd prefer a `pid`.

- Also, quick note @nurdtechie98 :
[code]
  It'd be easier to understand if the help text is just - ` specify particular folder id/sharing_link under which remote must must be added `.

@nurdtechie98 pinging you, here.
Let me know wh

[2019-03-15 17:09] inishchith commented on #27
@adtyanair any updates on this?

[2019-03-15 19:23] raghav-dalmia commented on #16
@nurdtechie98  please review the PR, I have added revision functionality to it.

[2019-03-18 16:12] raghav-dalmia commented on #40
I want to work on this issue. @nurdtechie98

[2019-03-18 16:18] inishchith commented on #40
@raghav-dalmia Sure, go ahead ;)

[2019-03-18 19:10] hjyoung1 opened #43 "command line authorize"
Is it possible to authorize this in command line only no (gui browser) as i am using it on server which has no gui installed.

[2019-03-19 07:30] nurdtechie98 commented on #43
Hey @hjyoung1 yes you can do.
Use `drive login --remote` this will give another link which you can open on other device so the login procedure and give the authorization pin back to the server.

[2019-03-19 16:54] hjyoung1 commented on #43
My bad i was using pip version which didn't have -- remote option
Now using development build it's working now thanks.

[2019-03-19 16:54] #43 closed

[2019-03-20 08:06] raghav-dalmia commented on #40
![Screenshot from 2019-03-20 13-28-56](https://user-images.githubusercontent.com/46166767/54668315-9e5f8500-4b14-11e9-8190-c7e6258506a3.png)
![Screenshot from 2019-03-20 13-29-03](https://user-images.githubusercontent.com/46166767/54668395-cd75f680-4b14-11e9-8c45-3ee2501d7c97.png)

I am going to use the above format to print file info. If it needs any changes please let me know.

[2019-03-21 16:52] raghav-dalmia commented on #40
So, I think it's perfect. Can i proceed with this one?

[2019-03-24 17:53] raghav-dalmia commented on #40
@nurdtechie98 @inishchith @parulagg27 @sauravchirania @shivam1708 please reply.

[2019-03-25 13:54] nurdtechie98 commented on #40
@raghav-dalmia sorry for the late reply, I think there is no need of revision, cause we have specific command for it, other than that rest of them looks good.

[2019-03-25 17:32] raghav-dalmia commented on #40
ok @nurdtechie98

[2019-03-28 05:20] adtyanair commented on #27
as of now, the dependency versions are not provided and available latest versions are being installed. This could break something if a breaking change is added to any of the dependencies.

At the moment the following versions are being installed(on Linux) and drive seems to work properly with these:
[code]
Should I fix these versions for the dependencies?

[2019-03-30 09:22] raghav-dalmia commented on #24
@nurdtechie98 add `share` in this list

[2019-03-30 09:31] raghav-dalmia opened #50 "share file to multiple user at a time"
`share` function should able to take email of multiple users and share the file with all of them.

[2019-03-31 14:20] rudri182 commented on #24
I would like to work on "pull" section

[2019-03-31 14:21] inishchith commented on #24
@rudri182 Sure, Go ahead.

[2019-03-31 14:34] rudri182 commented on #24
In which file I should modify the content for a wiki file to contribute? Because I am not getting the related file. I am confused.

[2019-03-31 14:36] inishchith commented on #24
Update this thread, once you make changes over [here](https://github.com/nurdtechie98/drive-cli/wiki/How-to-use-%3F#pull).

[2019-04-01 03:14] #40 closed

[2019-04-01 03:14] #16 closed

[2019-04-01 03:47] nurdtechie98 opened #51 "Google Docs duplication during pull and push"
When a file of google docs is pulled we need to export it to some other format. In doing so whenever we have pull a new file in extracted format is created similarly while pushing this exported file gets pushed back as well thus causing duplication. This duplication must not happen.

[2019-04-01 16:59] inishchith commented on #27
@adtyanair Sorry for addressing you comments lately. Sure, Go ahead.
Thanks :)

[2019-04-01 17:02] inishchith commented on #12
@jean Closing this for now.
Feel free to open in case you feel something is wrongly interpreted / addressed ;)

[2019-04-01 17:02] #12 closed

[2019-04-01 17:03] inishchith commented on #9
@SukhnandanMalhotra Any progress on this?

[2019-04-01 21:32] raghav-dalmia opened #52 "verify user for some commands"
verify user by user id(email id) or password for these commands commands like `push`, `share`, `log --delete`.

[2019-04-01 21:36] raghav-dalmia commented on #9
@nurdtechie98  i want to solve on this issue

[2019-04-02 04:37] nurdtechie98 commented on #9
@raghav-dalmia, sure just wait for a day if @SukhnandanMalhotra replies else go ahead with it.

[2019-04-02 08:16] jean commented on #12
@inishchith I'm fine with your preference regarding `pid`, it isn't ambiguous in the context of this program.
I do think it's an easy-to-avoid false rhyme with usage elsewhere, and I think it's less explicit than it needs to be (`parent-id` is self-documenting).

I'm a bit disappointed you don't respond to the other suggestions:

`cat` is a terrible name for "view-file". If ever there was a Un*x f

[2019-04-03 14:58] raghav-dalmia commented on #9
can I proceed? @nurdtechie98

[2019-04-03 16:48] nurdtechie98 commented on #9
Sure go ahead!!

[2019-04-04 16:30] adtyanair commented on #27
I have created a pull request. But I was not able to do anything about the requirement 'windows-curses' because I don't have a windows system with me. It would be nice if someone with a windows system could help.

[2019-04-05 10:46] rudri182 commented on #24
I have made changes for the section _drive pull_ from Github GUI wiki pages. Because for me, cloning wiki was not supported.

[2019-04-06 09:14] shivam1708 commented on #52
@nurdtechie98 This seems nice to me.

[2019-04-06 09:29] nurdtechie98 commented on #24
@rudri182 I have enabled wiki editing for all people just now, so now you can also edit the wiki. I see you have added pull wiki in your fork. Just copy the same to this repository's wiki and I'll add you points.

[2019-04-06 10:17] rudri182 commented on #24
Complete drive _pull command_ in the wiki page.

[2019-04-07 11:31] raghav-dalmia opened #56 "globbing functionality in view-files command"
the current scenario is user have to enter starting characters/full name to search a file. The expected scenario should be, the user can use globbing methods ( `*`, `?`, etc... ) to search for a file/folder.

[2019-04-07 20:09] raghav-dalmia commented on #31
@inishchith please give a brief of this issue. I didn't get your point. Thank you

[2019-04-08 21:13] raghav-dalmia commented on #51
@nurdtechie98 I want to solve this issue.

[2019-04-08 21:52] a-rodin opened #60 "json.decoder.JSONDecodeError: Extra data: line 1 column 1450 (char 1449)"
Hi!

After some too frequent invocations of `drive push` the `drive` command stopped to work with the following error:

[code]

I suspect that Drive APIs are requesting to solve a captcha. It would be nice to handle this request and ask the user to solve the captcha instead of showing the error.

[2019-04-09 05:11] NightWing1998 commented on #51
@raghav-dalmia go ahead!

[2019-04-09 15:56] raghav-dalmia commented on #51
@nurdtechie98 @NightWing1998 can you please give a brief of this issue. I didn't understand what exactly the problem is. Does this happen only with google docs?

[2019-04-10 04:05] inishchith commented on #31
@raghav-dalmia Sorry for the delayed response.
IMO the description is pretty much clear. Only thing being, this feature is already being employed in the current system ( I found this out a bit later ). Sorry for raising this issue.
Thanks for your interest :)  Closing this for now

[2019-04-10 04:05] #31 closed

[2019-04-10 04:08] inishchith commented on #60
@a-rodin Can you please provide steps to reproduce this ( in case you've some specific flow which does this because i didn't get the description ) ?
Thanks for raising the issue.

[2019-04-10 04:10] inishchith commented on #56
@raghav-dalmia Great idea!
Pinging @nurdtechie98 here.

[2019-04-10 04:11] inishchith commented on #51
Pinging @nurdtechie98.

[2019-04-10 04:14] inishchith commented on #50
@raghav-dalmia Sorry for the delayed response. You can start working on this.
Thanks.

[2019-04-10 04:16] inishchith commented on #24
@shivam1708 @NightWing1998 Would appreciate if you guys can review the work done in this section :)
Thanks.

[2019-04-10 04:20] nurdtechie98 commented on #56
@raghav-dalmia as good as I as this feature seems, just check once if drive Api allows glob feature. else if you have some other way around ?

[2019-04-10 04:29] NightWing1998 commented on #51
When you download a file for eg "sample"( word document ) that is a google doc ( .gdocx is the extension given by Google to such files ) it converts the file to .docx and then downloads it. If the repo inside which i'm already pulling has a sample doc in it then it creates a duplicate of it even though no changes were made to that file. Similarly it creates a duplicate when one tries to push such

[2019-04-10 05:22] a-rodin commented on #60
I accidentally executed code equivalent to this:

[code]

It seems like drive API permanently stopped to serve the `drive` application for the given IP address after this. And in that case `drive` stopped to work with `json.decoder.JSONDecodeError: Extra data: line 1 column 1450 (char 1449)` error.

[2019-04-10 05:26] a-rodin commented on #60
It was just the `drive push` command that was executed from a script too frequently. It could be though as something equivalent to

[code]

It seems like drive API permanently stopped to serve the `drive` application for the given IP address after this. And in that case `drive` stopped to work with `json.decoder.JSONDecodeError: Extra data: line 1 column 1450 (char 1449)` error.

[2019-04-10 06:02] raghav-dalmia commented on #51
Does this issue is only with doc?

[2019-04-10 06:03] raghav-dalmia commented on #51
For Google sheet, ppt is it working fine?

[2019-04-10 06:04] NightWing1998 commented on #51
All types of google docs, i.e. , slides sheets docs etc

[2019-04-10 06:06] NightWing1998 commented on #51
Wait for some time. I'll try to send some screenshots of what is happening

[2019-04-10 13:30] raghav-dalmia commented on #50
at this time I am focusing on google doc's issue. I will do it later. If someone wants to solve this issue can solve it after taking permissions from collaborators.

[2019-04-10 13:32] raghav-dalmia commented on #56
sure @nurdtechie98, I will check it and let you know.

[2019-04-10 13:34] raghav-dalmia commented on #51
ok, I will try.

[2019-04-10 15:02] NightWing1998 commented on #51
![Screenshot 2019-04-10 at 8 29 09 PM](https://user-images.githubusercontent.com/32770453/55889880-63121c80-5bcf-11e9-847e-1262f55f2f7f.png)
![Screenshot 2019-04-10 at 8 29 26 PM](https://user-images.githubusercontent.com/32770453/55889895-660d0d00-5bcf-11e9-9f65-c9bc2c79deaf.png)
Refer to these screenshots
You can see that when one downloads a google doc/sheet/ppt it successfully downloads it but

[2019-04-10 15:12] NightWing1998 opened #62 "drive pull/clone of google doc (word document) fails to download file in .doc extension"
When someone tries to download a google document which is word document it fails to download it in .doc extension.
Try changing it to .docx

[2019-04-10 18:03] raghav-dalmia commented on #51
I have a solution for this issue, we can use google docs/google sheet/... api to update file content.

[2019-04-10 18:27] raghav-dalmia commented on #56
@nurdtechie98 @inishchith Google drive API doesn't support wildcards.

[2019-04-10 18:33] raghav-dalmia opened #63 "publish/ update revision of a file"
there should be a functionality through which user can publish, update the revision of the file.

[2019-04-11 15:28] inishchith opened #64 "[maintenance] Mark issues as stale after prolonged delay"
We can close down unresolved issues/bug reports after no proof of reproduction with the help of [Probot Stale](https://github.com/probot/stale) with proper configuration and appropriate description and labels.

@nurdtechie98 Do have a look, Let me know what you think.

[ Open for discussion on configuration file ]

[2019-04-11 16:52] shivam1708 commented on #24
Sure @inishchith

[2019-04-11 17:28] raghav-dalmia commented on #51
@inishchith @NightWing1998 @nurdtechie98 comment on this. If you have another idea please discuss.

[2019-04-11 21:02] raghav-dalmia commented on #50
I also solve this issue.

[2019-04-12 17:36] inishchith commented on #51
@raghav-dalmia I didn't get much time to think and consider alternatives. I'd suggest you work the solution ( in case you're clear with it) and later we can have a discussion over the PR.
Else i'll update this thread once i get time.

Thanks for your patience

[2019-04-14 04:02] #62 closed

[2019-04-14 12:55] sauravjaiswalsj commented on #24
I would like to take cat command

[2019-04-14 13:26] sauravjaiswalsj commented on #24
@inishchith I have made the 'cat' file in the local repo for gssoc. How should I proceed?

[2019-04-14 13:33] NightWing1998 commented on #24
You have to make a pull request to drive-cli from your forked repo online. Refer here for more info : <a href="https://help.github.com/en/articles/creating-a-pull-request-from-a-fork >
Your Pull Request(PR) will be reviewed by us mentors and accordingly your changes will be merged

[2019-04-14 14:09] inishchith commented on #24
Sure @sauravjaiswalsj , go ahead and update this thread once you've made changes to the Wiki Section
Thanks :)

[2019-04-14 21:33] raghav-dalmia commented on #51
@inishchith I will wait of your (@NightWing1998 @nurdtechie98  @inishchith ) reply. When you got time please update this thread. Thank you

[2019-04-15 05:11] nurdtechie98 commented on #51
@raghav-dalmia your approach looks good to me feel free to go ahead

[2019-04-15 05:16] nurdtechie98 commented on #64
@inishchith we can go ahead with this.

[2019-04-15 05:27] sauravjaiswalsj commented on #24
@inishchith I have updated the how to use Cat command. Please Check.

[2019-04-15 05:46] nurdtechie98 commented on #24
@sauravjaiswalsj the cat command of drive-cli can't create or update file it can be used to view the contents of a file without having to download it locally. Do take a look and make the necessary changes.
Let us know once done we'll update the scores 😄

[2019-04-15 06:02] sauravjaiswalsj commented on #24
@inishchith Updated the cat command. Sorry about that mistake

[2019-04-15 07:07] nurdtechie98 commented on #24
good job @sauravjaiswalsj, will update the scores

[2019-04-16 19:16] raghav-dalmia opened #68 "move file/folder from one directory to another"
a functionality through which a user can move file/folder from one directory to another

[2019-04-21 07:13] #50 closed

[2019-04-24 23:59] saggu10417 commented on #24
I would like to work over rm command.

[2019-04-25 03:20] NightWing1998 commented on #24
Sure go ahead

[2019-05-01 09:27] #64 closed

[2019-05-01 09:33] nurdtechie98 commented on #68
@raghav-dalmia looks like an interesting feature. Let me know what all cases are you ready to handle in this and I'll add the difficulty level according to it.

[2019-05-01 09:33] #9 closed

[2019-05-04 20:28] raghav-dalmia commented on #51
@nurdtechie98 @inishchith  don't you think if we use more G-suite APIs, it will slow down our code. There should be another alternative.

[2019-05-05 12:34] nurdtechie98 commented on #51
It might take some time, agreed but do we have any other alternative. Let me know if you can think of something good.

[2019-05-05 13:34] NightWing1998 commented on #51
Another alternative could be track the files that were converted and then downloaded and while pushing back change the extension back to what it was.
For eg if one has downloaded text.gdoc as text.docx then while pushing update change the extension back to .gdoc and then push. But not sure if it will work

[2019-05-07 10:46] dulanism opened #72 "How do you download and commit to a shared Drive folder?"
Anytime I commit new changes to my shared folder I goes to MyDrive instead. How do I correct that?

[2019-05-09 02:28] nurdtechie98 commented on #72
Hey @dulanism, if you have cloned it from the shared folder itself and making changes, then it will make changes to the shared folder itself provided you have the access to it.
If it isn't let me know how to recreate the error and we'll try to solve it.

[2019-05-20 22:57] lukapaunovic commented on #24
I just want to say that the tools works wonderfully, even though I had to install specific version of "requests" (`pip install -I requests==2.21.0`). All went well.
Congratulations on this new amazing project.

[2019-05-21 12:14] udit-001 commented on #2
I would like to work on cat command!

[2019-05-21 13:50] nurdtechie98 commented on #2
sure @udit-001 go ahead

[2019-05-26 15:46] raghav-dalmia commented on #51
@NightWing1998 your idea seems good to me. @nurdtechie98 @inishchith please comment.

[2019-05-29 14:12] udit-001 commented on #2
@nurdtechie98 Done, please review!

[2019-05-31 12:38] udit-001 commented on #2
Can I work on log command, I noticed it requires error handling as well but it isn't mentioned in this thread?

[2019-06-03 17:30] BrennerSpear commented on #72
I am having a similar issue where I can't access Team drives (I have admin access to the team drive). Is there a way to enable Team drives?

[2019-06-13 20:21] epetros opened #74 "MemoryError"
Greatings,
Unfortunatly am getting the following error while trying to upload to drive a 1GB file:

Traceback (most recent call last):
  File "/usr/local/bin/drive", line 11, in <module>
    sys.exit(cli())
  File "/usr/local/lib/python3.5/dist-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/click/core.py", line 71

[2019-06-17 09:11] JakeCow commented on #74
I am experiencing same issue while trying to upload a file (+6gb).
Python is 64 bit. I was worried I had installed 32 bit by mistake.

[2019-06-29 12:54] vishnu0179 commented on #52
I am interested in working on this issue. Please assign it to me.

[2019-06-29 15:58] NightWing1998 commented on #52
Hey Vishnu,
Go ahead and ameliorate these commands and send a pull request 🔥👍

[2019-06-30 15:42] raghav-dalmia commented on #72
Hey @BrennerSpear, you can't access Team Drive through this.

[2019-06-30 15:42] raghav-dalmia commented on #72
@nurdtechie98 we can add a new feature to access team drive.

[2019-07-01 17:24] nurdtechie98 commented on #72
@raghav-dalmia even I was thinking it would be great. I just had a skim through the docs but couldn't find me much. Let me know if you find something.

[2019-07-07 06:37] sarthak7gupta opened #75 "TypeError during Push and Pull causes sync to fail (TypeError: '<' not supported between instances of 'dict' and 'float')"
$ drive push
checking for changes in 'myFolderName' ....
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/bin/drive", line 10, in <module>
    sys.exit(cli())
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/click/core.py", line 717, in m

[2019-07-07 15:00] raghav-dalmia commented on #72
@nurdtechie98 every call need one extra parameter `IncludeTeamDrive = True `. You can find it here https://developers.google.com/drive/api/v3/reference/

[2019-07-21 18:08] angristan opened #76 "Is it possible to clone/pull the entire Drive?"
e.g. something like `drive clone /`

[2019-07-26 16:46] lamhoangtung opened #77 "OverflowError: string longer than 2147483647 bytes"
Hi, I'm trying to upload a 15GB file from an AWS server to my Google Drive, the server have 32 cores and 480GB of RAM.

After a while, I got this error

[code]

Any ideal how to resolve this everyone ? Thanks a lot ;)

[2019-08-06 03:56] nurdtechie98 commented on #76
Hey @angristan there is a provision for that.
You can do
`drive clone root`

[2019-08-07 17:39] angristan commented on #76
Thanks!

[2019-08-07 17:39] #76 closed

[2019-08-14 15:49] archmord opened #80 "file C:\Users\User\Videos drive\filename already exists! remove the existing file and retry"
Hi
Can you add a feature where it detects previously downloaded files and skip that files from folder and download remaining files that are not downloaded coz right it just give this error

[2019-08-28 13:30] bclermont opened #81 "--noauth_local_webserver is ignored"
[code]

look like it's ignored

[2019-09-03 08:07] nurdtechie98 commented on #81
Hey @bclermont, in order to use drive-cli remote machines, first you need to login using
[code]
and once the login procedure is complete then you can use any of the commands you want to use.

[2019-09-10 03:12] bryanhpchiang opened #82 "-P"
Is it possible to parallelize drive pull?

[2019-10-11 18:06] NightWing1998 commented on #75
Can you please be more specific on how to recreate this error??

[2019-10-11 19:02] sarthak7gupta commented on #75
To be honest, it works sometimes, and sometimes it doesn't. When doing a simple `drive push` or `drive pull`, it works till some files, and then crashed giving the above error

[2019-10-26 05:06] #74 closed

[2019-10-26 05:07] #75 closed

[2019-10-26 05:07] #77 closed

[2019-11-14 22:13] mikezime opened #84 "I want to print file pid after add_remote completed"
Hi,
Is there possibility to print file pid after add_remote completed ?
I want to keep track of files into database and I need remote pid after file uploaded.
Please let me know,
Thank you,
Mike

[2019-12-07 22:05] alexnastetsky opened #86 "Sign in with Google temporarily disabled for this app"
When I do `drive login` and login through the browser, I get this:

[code]

[2019-12-08 21:41] rjain15 commented on #86
Same here... is this app disabled?

[2019-12-17 08:11] javitorres commented on #86
It seems you need to allow access to insecure applications in your Google account [here](https://myaccount.google.com/lesssecureapps). I don't feel good doing that

[2019-12-22 14:42] AlexHowser commented on #86
Same here :(

[2019-12-26 12:37] ZamotZ commented on #86
Same here - even with "allowed access to insecure applications".

[2020-01-16 20:04] OneMiay commented on #86
Don't working :(

[2020-01-18 09:47] nurdtechie98 commented on #86
Sorry for the delay. I have applied for the application to be verified just today. It might take a few weeks for the application to get verified by the google team.
Hope they get back to us soon :see_no_evil:

[2020-01-18 10:16] #81 closed

[2020-01-27 05:21] karolisr commented on #86
Working for me January 26, 2020

[2020-01-27 11:05] OneMiay commented on #86
Me too 27, 2020

[2020-01-29 00:13] kirebyte opened #88 "Drive push not syncing file"
Hello
I had a problem when syncing the file, when I modify it, drive detects it has changed but when I try to push it again I get a "working directory is clean" message and the file don't gets uploaded into Gdrive. I downloaded drive-cli using pip instead of cloning the project.

Steps:
- Cloned an empty directory: drive clone \<ID>
- Inside the cloned directory, created a text file with something

[2020-01-30 23:55] kirebyte commented on #88
I was reviewing the code and I wonder if someone has ever been able to push and pull successfully because I had to perform a couple tweaks, first I removed a couple of magic numbers that were affecting comparisons, second I had to make a type evaluation because sometimes the file date is a dictionary object instead of a float, but before proceeding to talk about my tweaks I have a question.....

w

[2020-02-01 02:52] karolisr opened #89 "Implement exponential backoff in utils/upload_file function"
I ran into a problem while uploading a large number of files to my university's managed Google Drive: `HttpError 403 "User rate limit exceeded."` Google suggests an exponential backoff strategy to resolve this: https://developers.google.com/drive/api/v3/handle-errors#resolve_a_403_error_user_rate_limit_exceeded. I have implemented a rudimentary solution in my fork of the repo: https://github.com/k

[2020-02-05 06:55] adrianbroher opened #90 "Load authentication data from a user writable location"
Please create and read the authentication data from a directory, which can be modified by the invoking user.  The current implementation assumes that the install directory (/usr/local/lib) is writable to users, which is usually not true for unix like systems.

I suggest to adhere to the XDG base directory standard to place the authentication data.

Version: 2.1.0

Installed via `pip install drive-

[2020-02-05 07:10] adrianbroher opened #91 "Make view-files more friendly to non-interactive usage and machine readable output"
The current implementation forces some prompts on usage, even if the script is invoked within a pipeline where the prompt serves no purpose.

The terminal is wiped, all useful information are cleared.

The application reports "Aborted!" so did the application crash?  The exit code indicates so.

None of the `--name`, `--types` or `--pid` accepts the value from command line, but instead a prompt is

[2020-02-05 07:12] adrianbroher opened #92 "Provide interface to query version of application"
Currently the application provides no parameter or verb to print the version number of the application.  It is also not reported within the help message.

[2020-02-05 07:36] adrianbroher opened #94 "Tag application releases"
Please add Git tag the source commits, which provided the corresponding application releases.

[2020-02-19 01:23] alexanderankin commented on #86
not working Feb 18, "Sign in with Google temporarily disabled for this app"

[2020-02-20 19:22] memachado commented on #86
Is there any workaround?

[2020-02-29 05:27] mckarthik7 commented on #86
Not working yet.
I suppose the workaround we can try is replacing the oauth mechanism in the scripts to use our IDs for the application. That should make us developers of the application (which we will need to create in our google accounts) that may allow us to use it for ourselves in debug mode.
This is quite frustrating.

[2020-02-29 05:36] mckarthik7 commented on #86
It appears Google has disabled option 3 manual copy/paste from the OAuth mechanisms (https://developers.google.com/identity/protocols/OAuth2InstalledApp), which I think is what the script uses currently.

I suspect they have finally gone ahead with the change and disabled it for all apps. The repo would need to migrate to Option 2 loopback address.

[2020-02-29 06:15] mckarthik7 commented on #86
Okay, I was able to get a workaround by creating your own oauth credentials on my google account. This gives 100 logins before verification is needed, so that gives you 100 personal devices. Just follow the steps in README.md for the dev branch (although it should work the same for the master branch, just the custom client secret json is required)

   ` $ git clone https://github.com/nurdtechie98/

[2020-03-02 16:14] #88 closed, assigned to nobody

[2020-03-17 18:18] #82 closed

[2020-03-23 09:54] souljedi commented on #86
@mckarthik7 thanks for sharing your workaround. However, I'm failing with setting up the oauth credentials in my google account. It requires me to first create a consent screen and for that i first would need to submit a new app to google. is there some other way to get the oauth credentials?

[2020-03-24 06:43] mckarthik7 commented on #86
Unfortunately, I wasn't able to find a different way. Thankfully though, it doesn't take too long. It took me about two mins to get it working with this.

[2020-04-04 20:48] smjure commented on #80
Same here, I got this error first after 5min of cloning:

After retrying "drive clone ID", I get the same error:

It seams great app, solution or update please?

[2020-04-10 22:47] andrewerf commented on #86
Same here

[2020-04-30 12:36] DmitriyG228 commented on #77
HI, still have this issue,

`  File "/home/dima/drive-cli/drive_cli/actions.py", line 178, in create_remote
    utils.push_content(child_cwd, child_id)
  File "/home/dima/drive-cli/drive_cli/utils.py", line 492, in push_content
    upload_file(item, item_path, fid)
  File "/home/dima/drive-cli/drive_cli/utils.py", line 375, in upload_file
    fields='id').execute()
  File "/home/dima/anaconda3/lib

[2020-04-30 12:40] DmitriyG228 opened #96 "OverflowError: string longer than 2147483647 bytes"
Hi, though I see[ this issue](https://github.com/nurdtechie98/drive-cli/issues/77) has been fixed, I still experience it. It happens while doing `drive add_remote` I would appreciate an advice.

`  File "/home/dima/drive-cli/drive_cli/actions.py", line 178, in create_remote
    utils.push_content(child_cwd, child_id)
  File "/home/dima/drive-cli/drive_cli/utils.py", line 492, in push_content
    u

[2020-05-04 20:09] Wolfe1 commented on #86
Still getting the error

[2020-05-06 18:37] sbmthakur opened #97 "Unable to track a local directory"
I got the following error when I attempted to track a local directory. The folder is named `vids` and is present in my E drive, so the path is E:\vids. I ran this in a Linux shell (Ubuntu 18.04- WSL) on a Windows 10 machine.

[code]

After this, I did a `drive.exe view-files` and could find an entry for _vids_:

`vids           | xxxxxxxxxxxxxxxxxxx | vnd.google-apps.folder | 2020-05-06T18:29:29.7

[2020-05-10 07:47] mabebrahimi commented on #86
Me too :(

[2020-05-10 12:28] DmitriyG228 opened #98 "NameError: name 'dir_name' is not defined when doing push"
Hi, while doing push, I am getting the following error:

Traceback (most recent call last):
  File "/home/dima/anaconda3/bin/drive", line 11, in <module>
    load_entry_point('drive-cli', 'console_scripts', 'drive')()
  File "/home/dima/anaconda3/lib/python3.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/home/dima/anaconda3/lib/python3.7/site-p

[2020-05-25 14:35] luftj opened #99 "Google sign in not working"
Using the latest pip version with any command will lead me to the following error message by google after signing in:

![grafik](https://user-images.githubusercontent.com/20200776/82822224-b6affa00-9ea5-11ea-824d-0d4a31200117.png)

Subsequently, there will be no response back to the app to tell it something failed and it gets stuck until manually sending an arbitrary request to localhost:8080

[2020-05-30 12:48] nandzi commented on #99
[Other Drive CLIs](https://github.com/gdrive-org/gdrive/issues/533) are having the same issue, which is due to restrictions imposed by Google. I installed this app in development mode so that I could set my own oauth key and that solved the problem.

[2020-05-31 16:52] ogrisel commented on #99
@infinitelytight  could you give more details on how to do this?

Edit: it's written in the README: https://github.com/nurdtechie98/drive-cli#installation

[2020-05-31 18:35] nandzi commented on #99
This issue is the same as #86 by the way. In that thread, the owner of this repo said he applied for this app to be verified a few months ago, but the problem still persists.

Providing your own oauth credentials in development mode is currently a workaround but if Google refuses to verify this app then using our personal credentials should become part of the standard installation. I've checked a

[2020-06-01 12:49] nandzi commented on #98
This was simply due to a variable naming error, see #101. I have noticed, however, that sometimes files are marked as having been modified both locally and remotely, when they haven't... Will make another issue sometime.

[2020-06-02 07:04] luftj commented on #99
Ah, okay, thanks! I didn't see #86, closing this duplicate.

[2020-06-02 07:04] #99 closed, assigned to nobody

[2020-06-02 08:42] peteasa opened #102 "TypeError: '<' not supported between instances of 'dict' and 'float'"
Added print statement to see what is happening.. push_needed is called twice once each time with different time:
``drive push
checking for changes in 'reconstruction' ....
sync_time 1591028556.5466192 local_time 1591008755.5294328
sync_time {'time': 1591084154.9402184} local_time 1591064351.205921
Traceback (most recent call last):
``

sync_time seems to be assigned a dictionary rather than a valu

[2020-06-02 09:07] peteasa commented on #102
fixed with the following patch
``def push_needed(drive, item_path):

...

    if isinstance(sync_time, dict):

        sync_time = sync_time['time']

    if sync_time < local_time:
``

[2020-06-03 12:48] nandzi commented on #102
This has led to some strange behaviour. I have a folder with several files A, B, C, D, which are all tracked. After I change one file, say C, and run `drive push`, the content of C is saved to file A, and the rest of the files remain unchanged on the remote. This is quite worrying, but it appears that this repo is no longer maintained. Some pull requests look quite promising (#95) and it would be

[2020-06-10 00:12] okliv opened #103 "drive push doesn't delete locally deleted remote GDrive files"
When i delete local files and then run `drive push` i expect that remote files will be deleted too but they are still in it's place

is it expected behaviour?

and if i delete files in GDrive folder (move it to trash) it doesn't see any changes unless i clean up a trash

[2020-06-13 19:02] PaPablo opened #104 "Can't login into my account"
Google tells me I can't login because the app isn't verified yet

[2020-06-20 04:43] saucesaft commented on #104
I am having the same error.

[2020-06-22 07:25] nurdtechie98 commented on #103
Hey @okliv, as of now we have the drive rm for removing the files deleted, this is an expected behaviour, something that should be added.
I hope it answers your query
Thanks for bringing it to notice 👍

[2020-06-22 07:25] #103 closed, assigned to nobody

[2020-06-22 07:28] nurdtechie98 commented on #104
Hey, @PaPablo @saucesaft  to verify the app I need a verified domain name as per the latest rules of google api's I am in the process for the same.
You can build your own copy from the source and start using drive-cli until then.
Sorry for the inconvenience caused.

[2020-06-22 07:28] #104 closed, assigned to nobody

[2020-06-22 07:46] #98 closed, assigned to nobody

[2020-06-22 07:47] nurdtechie98 commented on #94
@adrianbroher will consider this for sure.

[2020-06-22 07:47] #94 closed, assigned to nobody

[2020-06-22 07:48] #27 closed

[2020-06-22 07:56] okliv commented on #103
semantically `push` is analog from `git`. and `git` make a mirror-copy of pushed changes (after `checkout`). but here we need to `push`, then list remote (recursively?), then compare and `rm` manually? then I'd suggested change `push` to something less "git-ish" like `upload`

(and `rm`, btw, is from `cli` ... for me this mix of semantics is little bit misleading)

[2020-07-01 16:41] pankaj151 opened #105 "can't authorized through remote machines on cli."
so i was trying this sweet cli tool for moving local-data to the drive but it seems it's not passing the parameters of usual "  --noauth_local_webserver" any way following is the output.

/home/ubuntu/.local/lib/python3.8/site-packages/oauth2client/_helpers.py:255: UserWarning: Cannot access /home/ubuntu/gist/drive-cli/drive_cli/token.json: No such file or directory
  warnings.warn(_MISSING_FILE_M

[2020-07-03 15:57] AlexanderMann opened #106 "Allow for Anonymous Mode"
# Motivation

For some Google drive files, such as the popular [Word2Vec Trained GoogleNews dataset](https://drive.google.com/file/d/0B7XkCwpI5KDYNlNUTTlSS21pQmM/edit), the file is public, and can be successfully downloaded from any browser with no logged in Google Account. In these instances, I'd expect to be able to download the file without necessarily needing to login.

## Suggested Musical Pa

[2020-07-07 18:08] bmwant commented on #105
` --noauth_local_webserver` this parameter just does not work

[2020-07-12 08:47] ranahaani opened #107 "Sign in with Google temporarily disabled for this app"
Sign in with Google temporarily disabled for this app
This app has not been verified yet by Google in order to use Google Sign In.

[2020-07-24 07:04] cabhijith commented on #96
Hey @DmitriyG228 !
How did you solve it?

[2020-07-24 08:02] DmitriyG228 commented on #96
Hi, cabhijith, gave up quickly solving it.

[2020-07-24 13:53] cabhijith commented on #96
Oh cool @DmitriyG228!
For anyone in the future, the way I used it by splliting my txt files to approx. 1.2 GBs and pushing them individually. Did it using linux's ```split``` function.

[2020-07-25 13:17] ivorynoise opened #108 "Cannot download files which are in shared drive and user has atleast read access to the file"

[2020-07-25 13:19] ivorynoise commented on #107
Duplicate of [#86](https://github.com/nurdtechie98/drive-cli/issues/86)

[2020-08-03 15:08] BadGhost commented on #86
still, work in process?

[2020-08-04 15:01] ghost commented on #86
@souljedi When using your own credentials and presented with the "This app isn't verified..." screen you can just click the "Advanced" button at the bottom and then "Go to [APP NAME]" to auth.

!["This app isn't verified" screenshot](https://user-images.githubusercontent.com/41309736/89309704-a9fd0e80-d66b-11ea-8b4e-aa7baa362d3c.png)

[2020-08-14 16:27] dttad commented on #107
same issue

[2020-08-18 23:38] grgcnnr commented on #105
use the --remote flag

[2020-08-20 16:09] bmwant commented on #105
@grgcnnr thanks I was able to do that
[code]

![image](https://user-images.githubusercontent.com/3602533/90796920-9ebb0b80-e318-11ea-92ff-5126bb2c066d.png)

[2020-08-27 12:27] AnimMouse opened #109 "Service account"
Can I use a service account to access my Google Drive instead of OAuth?

I'm gonna use this on a remote server without access to the browser, but according to https://github.com/nurdtechie98/drive-cli/issues/86#issuecomment-592888860 it appears Google has disabled option 3 manual copy/paste from the OAuth mechanisms, which I need to use this on a remote server. Login using a service account will s

[2020-09-04 08:42] rrmina opened #110 "Sign in with Google temporarily disabled for this app"
I tried `drive --remote login` and here's what I got

![image](https://user-images.githubusercontent.com/7788765/92219724-e96e8300-eed5-11ea-86c1-156316cf9f54.png)

Any idea how to fix this?

Best,
Rusty

[2020-09-05 11:27] #110 closed, assigned to nobody

[2020-09-10 15:39] ucalyptus commented on #86
![Screenshot from 2020-09-10 21-08-56](https://user-images.githubusercontent.com/36279638/92755842-dbbf6e80-f3a9-11ea-8b52-0f6cbf46ff52.png)
@harrego for me it doesn't even show an unsafe link to proceed with

[2020-09-10 15:39] ucalyptus commented on #86
@nurdtechie98 could u get this app verified finally? Not able to use it at all.

[2020-09-10 15:59] harrystanton commented on #86
@ucalyptus Are you using your own Google app with your own custom credentials?

[2020-10-06 04:35] jimbrig commented on #107
weak..

[2020-10-21 01:10] qunm00 commented on #109
Needing this too. I am trying to backup my headless server to Gdrive.

[2020-10-25 06:18] aahnik commented on #86
![image](https://user-images.githubusercontent.com/66209958/97100283-f3cc2280-16b7-11eb-855c-96368abd7731.png)

unable to use

is there any way to manually put auth token ?

[2020-10-26 17:12] gotjen commented on #107
same issue

[2020-10-27 08:04] sawasy commented on #86
Looking at enabling unsafe scripts mentioned https://github.com/nurdtechie98/drive-cli/issues/86#issuecomment-566431622 I wasn't able to allow for this, as I have 2FA enabled.  I also am getting the screen without the 'proceed anyway' option. I am guessing 2FA is causing some issues here.

[2020-11-12 20:29] vidstige commented on #91
Yes, the current interface is very difficult. I'm in favor of all of the above.

[2020-11-12 20:52] AlexanderMakarov commented on #86
Still experience the problem. @nurdtechie98 is apply process is still going in Google? Any news?

[2020-11-14 13:23] noamTzi commented on #86
Me too.
Do you guys know anything other that might work for now until drive-cli is verified?

[2020-11-18 09:52] unbraind commented on #107
same issue

[2020-12-02 00:56] evonne-h1 commented on #107
not available with company 2FA when setting up OAuth in the right path for the cli:

![image](https://user-images.githubusercontent.com/73542812/100814280-5929d680-340f-11eb-8bdd-1523db657527.png)

[2020-12-02 23:58] wyphan commented on #107
Any workarounds yet? I can't disable the company 2FA since I'm just a regular user...

[2020-12-07 00:33] ghost commented on #107
The workaround is to use your own clients-secret.json and follow the installation `For Development`

[2021-03-27 21:55] ThaNikkitz commented on #86
What worked for me, for some stroke of luck I believe:
Create OAuth client ID credentials at https://console.cloud.google.com/apis/credentials from the +Create Credentials button.
(I believe you have to have a project created for this to be allowed).
Select for "Desktop App" in the dropdown menu. Download the .json file, [re]name it oauth.json and move it to the drive-cli directory. In my case thi

[2021-04-08 23:51] edarsaut commented on #108
Duplicate of #106

[2021-04-15 00:48] adityaputra opened #114 "App is blocked by google"
Got this when trying to login:

![image](https://user-images.githubusercontent.com/2768395/114798155-49f86380-9dc7-11eb-8848-5dd5a7c752b0.png)

This app is blocked

This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access.

[2021-05-08 14:51] kqvanity commented on #114
this [answer](https://github.com/nurdtechie98/drive-cli/issues/86#issuecomment-808807910) solved my problem .
miniature notes :
-for the 'create 0auth client ID credentials' part at the solution  , you may find [these steps](https://stackoverflow.com/a/65507155/14135669
) suitable .
-for the 'save .json file' part , you'll probably need to save at " ~/.loca/lib/python{version}/site-packages/drive-

[2021-05-11 12:14] kqvanity opened #115 "drive push doens't sync files"
As the title says , whenever i clone the directory from my drive via '>>drive clone id-of-this-directory' , it gets downloaded normally .
however when i change the directory into it , and then make adjustment to any of the files contained within , the try pushing the new modifications , it doesn't make any change to the google drive directory ,it only outputs this message
`
checking for changes in

[2021-06-04 18:28] Misby commented on #22
Thanks it works

[2021-08-11 20:58] hansgv opened #116 "Drive API requires updates to your code before Sep 13, 2021"
Received this message from Google. Can drive-cli be modified to work?

[2021-09-04 21:04] CharlesDerek opened #117 "-bash: drive: command not found"
After attempting installation (both via git and pip),
entering any drive command returns:

`-bash: drive: command not found`

[2021-09-05 13:56] matoos32 commented on #117
I was also getting this after a pip install on linux. It wasn't on my path and after adding it the app was found.
`export PATH=~/.local/bin:$PATH`

[2021-09-15 19:19] CodingPenguin1 opened #118 "Login: This app is blocked"
On running `drive login`:
![image](https://user-images.githubusercontent.com/20517031/133495999-75fbfe37-b774-49ab-bc37-9b0cc496ea18.png)

[2021-09-18 02:16] funtime1818 commented on #115
Did you ever find a solution to this? I am having the same issue @z0xyz

[2021-09-19 18:21] kqvanity commented on #115
@funtime1818  can't recall to be honest , but i'm sure that i've switched to [gdrive](https://github.com/prasmussen/gdrive) back then .

[2021-10-09 23:05] terabyte commented on #118
me too =(

[2022-01-26 19:08] Scripter17 commented on #118
You'll need to make your own oauth client for drive-cli

The tutorial at [ThioJoe/YT-Spammer-Purge/wiki/Instructions:-Obtaining-an-API-Key](https://github.com/ThioJoe/YT-Spammer-Purge/wiki/Instructions:-Obtaining-an-API-Key) works great. Just replace the Youtube API with the Drive API

When you download your client_secrets.json save it to `Python310/Lib/site-packages/drive_cli/oauth.json`

[2022-02-25 07:58] tonywtrd opened #119 "CLI ? Unusable from terminal. Need GUI."
I don't get it the point of calling it CLI as the first step is literally login thru browser, which throw error because of Js not enabled, while login it from terminal

[2022-05-02 09:04] jawnosc2016 opened #120 "This app is blocked This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access."
This app is blocked

This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access.

[2022-10-18 23:26] heylookltsme commented on #74
I'm seeing this same error when downloading a large (1.6 GB) file. 😞